<%= link_to "Back to Lists", lists_path %>
<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.input :comment %>
<%= f.association :movie, collection: Movie.all.order(:title), prompt: "Choose a movie" %>
<%= f.submit %>
<% end %>

<h1>Collection's movies</h1>
<% @bookmarks.each do |bookmark| %>
<ul>
<li>
<%= bookmark.movie.id %> <%= bookmark.movie.title %>
<p> <%= bookmark.movie.overview %> </p>
<img src="<%= bookmark.movie.poster_url %>">
<%= link_to 'delete this bookmark', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</li>
</ul>
<% end %>
